<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>课程设计-3D导航.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AD560E61C33DC57009BD07D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD560FF1C33DC57009BD07D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD5610A1C33DC57009BD07D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
